<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        :root {
            --card-width: 474px;
            --gap-width: 10px;
        }

        body {
            display: flex;
            justify-content: center;
            font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        }

        a{
            text-decoration: none;
            color: inherit;
        }

        .gallery {
            display: flex;
            justify-content: center;
            gap: var(--gap-width);
            flex-wrap: wrap;
        }

        .card{
            width: 95%;
            padding: 2em;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            column-gap: 20px;
            background: #eee;
        }

        @media (min-width: 800px) {
            .card{
                width: 800px;
            }
        }

        .card h3 {
            margin: 0;
        }

        .card label {
            font-weight: 600;
        }

        .card .visual {
            width: 200px;
        }

        .card .visual img{
            max-width: 100%;
        }

        .card .metadata {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .modal-window {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.25);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s;
        }

        .modal-window:target {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }

        .modal-window > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
        }

        .modal-close {
            font-weight: 600;
            color: black;
            line-height: 50px;
            font-size: 80%;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 70px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="gallery">
    {% for card in cards %}
        <a href="#open-modal-{{ card.getCardId() }}">
            <div class="card">
                <div class="visual">
                    <img src="{{ card.getUri() }}" alt="card"/>
                </div>
                <div class="metadata">
                    <h3>Used Prompts</h3>
                    <div>
                        <label>Name: </label><code>{{ card.getPromptForPokemonName() }}</code>
                    </div>
                    <div>
                        <label>Description: </label><code>{{ card.getPromptForPokemonDescription() }}</code>
                    </div>
                    <div>
                        <label>Visual: </label><code>{{ card.getPromptForVisual() }}</code>
                    </div>
                </div>
            </div>
        </a>
        <div id="open-modal-{{ card.getCardId() }}" class="modal-window">
            <div>
                <a href="#" title="Close" class="modal-close">X</a>
                <img src="{{ card.getUri() }}" alt="card"/>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>