<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon card AI generator</title>
    <link rel="stylesheet" href="/gallery.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div class="docusaurus">
    <nav class="navbar navbar--fixed-top">
        <div class="navbar__inner">
            <div class="navbar__items">
                <a class="navbar__brand" href="/">
                    <div class="navbar__logo">
                        <img src="/logo.png" alt="Logo">
                    </div>
                    <b class="navbar__title text--truncate">Pokemon card AI generator</b>
                </a>
            </div>
            <div class="navbar__items navbar__items--right">
                <a href="https://www.buymeacoffee.com/ingelbrecht" target="_blank"
                   rel="noopener noreferrer" class="header-coffee-link">
                    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee">
                </a>
                <a href="https://github.com/robiningelbrecht/pokemon-card-generator" target="_blank"
                   rel="noopener noreferrer" class="navbar__item navbar__link header-github-link"></a>
                <div class="toggle_theme">
                    <button class="clean-btn toggle_button" type="button" title="Switch between dark and light mode"
                            aria-label="Switch between dark and light mode">
                        <svg viewBox="0 0 24 24" width="24" height="24" class="lightToggleIcon">
                            <path fill="currentColor"
                                  d="M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5 S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1 s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0 c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95 c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41 L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41 s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06 c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z"></path>
                        </svg>
                        <svg viewBox="0 0 24 24" width="24" height="24" class="darkToggleIcon">
                            <path fill="currentColor"
                                  d="M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-wrapper">
        <div class="docPage">
            <main class="docMainContainer">
                <div class="container padding-top--md padding-bottom--lg">
                    <div class="row">
                        <div class="col docItemCol">
                            <div class="gallery">
                                {% if not cards %}
                                <div class="card" style="display: block;text-align: center;">
                                    <h3>Generate your first card by executing</h3>
                                    <code>docker-compose run --rm php-cli bin/console app:card:generate</code>
                                </div>
                                {% endif %}
                                {% for card in cards %}
                                    <div class="card">
                                        <a href="#open-modal-{{ card.getCardId() }}">
                                            <div class="visual">
                                                <img src="{{ card.getUri() }}" alt="card"/>
                                            </div>
                                        </a>
                                        <div class="metadata">
                                            <h3>Used Prompts</h3>
                                            <div>
                                                <label>Name: </label><code>{{ card.getPromptForPokemonName() }}</code>
                                            </div>
                                            <div>
                                                <label>Description: </label><code>{{ card.getPromptForPokemonDescription() }}</code>
                                            </div>
                                            <div>
                                                <label>Visual: </label><code>{{ card.getPromptForVisual() }}</code>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="open-modal-{{ card.getCardId() }}" class="modal-window">
                                        <div>
                                            <a href="#" title="Close" class="modal-close">X</a>
                                            <img src="{{ card.getUri() }}" alt="card"/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script>
    const htmlEl = document.getElementsByTagName('html')[0];
    let currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : (window.matchMedia('(prefers-color-scheme: dark)') ? 'dark' : 'light');
    const toggleSwitch = document.querySelector('button.toggle_button');
    htmlEl.dataset.theme = currentTheme;
    const switchTheme = () => {
        currentTheme = currentTheme === 'light' ? 'dark' : 'light';
        htmlEl.dataset.theme = currentTheme;
        localStorage.setItem('theme', currentTheme);
    }
    toggleSwitch.addEventListener('click', switchTheme, false);
</script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="ingelbrecht" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF"
        data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</body>
</html>